

//Flex



// Accessibility

.screen-reader-text, .visually-hidden, .visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute!important;
    width: 1px!important;
    height: 1px!important;
    padding: 0!important;
    margin: -1px!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
  
}
@include media-breakpoint-up(md) {
    .visually-hidden-desktop{
        position: absolute!important;
        width: 1px!important;
        height: 1px!important;
        padding: 0!important;
        margin: -1px!important;
        overflow: hidden!important;
        clip: rect(0,0,0,0)!important;
        white-space: nowrap!important;
        border: 0!important;
    }
}

//Containers

.container {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
}

.container--medium {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
}


.container--full-width {
    max-width: 100%
}

.container--flex-column {
    display: flex;
    flex-direction: column;
}

.container--hero { 
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    @media(min-width: map-get($container-max-widths, "md")) {
        min-height: 90vh;
    }
    .container--hero-opacity {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;
        background-color: $color-secondary;
        opacity: .4
    }
    .container--medium {
        position: relative; 
        z-index: 3;
    }
}




.list-unstyled {
    list-style-type: none;
}
.mt-header {
    margin-top: $header-height
}
main {
    min-height: calc(100vh - #{$header-height} - #{$footer-height} );
    margin-top: calc( #{$header-height});
    margin-bottom: 3rem;
}

.grid--three {
    display: grid;
    grid-template-columns: repeat(1, 1fr);;
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid--two  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);;
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid--four  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);;
    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(4, 1fr);
    }
}