button, a.button, .button {
    border: 1px solid $primary;
    background-color: $primary;
    color: white;
    font-size: 1rem;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    padding: .5rem 2rem;
    display: inline-block;
    @include transition;
    &:hover{
        //border: 1px solid $primary;
        background-color: $white;
        color: $primary;
        @include transition;
    }
}


a.button--reverse {
@extend button;
    //border: 1px solid $primary;
    background-color: $white;
    color: $primary;
    @include transition;
    &:hover{
        //border: 1px solid $primary;
        background-color: $primary;
        color: $white;
        @include transition;
    }
}


button.no-styles {
    border: none;
    padding:0;
    background-color: transparent;
}