/*	MIXINS
-------------------------------------------- */


@mixin user-select($val: none) {
	-webkit-user-select: $val;
	-moz-user-select: $val;
	-ms-user-select: $val;
	-o-user-select: $val;
	user-select: $val;
}

@mixin position-absolute($top: 0, $right: 0, $bottom: 0, $left: 0)  {
	position: absolute;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}

@mixin position-fixed($top: 0, $right: 0, $bottom: 0, $left: 0)  {
	position: fixed;
	top: $top;
	left: $left;
	right: $right;
	bottom: $bottom;
}

@mixin transition {
	 transition : all 0.3s ease-in-out;
}

@mixin bg-std {
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.bg-std {
 @include bg-std;
}

@mixin bg-left {
 background-size: cover;
 background-position: top left;
 background-repeat: no-repeat;
}
.bg-left{
 @include bg-left;
}

@mixin box-shadow {
 box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.box-shadow{
 @include box-shadow;
}

@mixin border-top {
	border-top: 2px solid $color-primary;
}

@mixin border-bottom {
	border-bottom: 2px solid $color-primary;
}


// @mixin hover-focus {
// 	&:hover,
// 	&:focus {
// 	  @content;
// 	}
//   }
