.slidein-container{
    position: fixed;
    right:-100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    min-height: 300px;
    padding: 1.5rem;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
    -webkit-overflow-scrolling: touch;
    transition: all .3s ease-in-out;
    z-index: 999999;
    background-color: $secondary;
  h2{
    font-family: 'Playfair Display', serif;
    color: #3f3f3f;
    //color: white;
    font-size: 24px;
    cursor: default;
  }
  p{
     line-height: 1.5rem; 
     cursor: default;
     color: white;
  }

   a{
    position: relative;
    color: #3f3f3f;
    //color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 60px;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 2px solid #3f3f3f;
    //border-color: white;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
    letter-spacing: 1.75px;
    margin-bottom: 15px;
    text-align: left;
    margin-right: 30px; 
    &:hover{
        padding-right: 70px;
    }
    &:after{
        content:"";   
        position: absolute;
        height: 16px;
        top: calc(50% - 8px);
        right: 0;
        width: 45px;
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='37px' height='17px' viewBox='0 0 37 17' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Homepage' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Revell---Template-1---Home-Page' transform='translate(-708.000000, -839.000000)' stroke='%233f3f3f' stroke-width='2'%3E%3Cg id='Group-2' transform='translate(708.000000, 840.000000)'%3E%3Cline x1='35.5000703' y1='7.5' x2='0.249964857' y2='7.5' id='Line-Copy'%3E%3C/line%3E%3Cpolyline id='Stroke-1-Copy-2' transform='translate(32.000000, 7.500000) rotate(-270.000000) translate(-32.000000, -7.500000) ' points='25 11 31.9999297 4 39 11'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
    }
    .slidein-close {
        position: absolute;
        top: 8px;
        right: 5px;
        background: transparent;
        border: none;
        cursor: pointer; 
        svg {
          height: 20px;
          width: 20px;
        }
    }
}
  
.slidein-container.is-visible {
  visibility: visible;
  opacity: 1;
  right: 0;
  transition: all 2s ease-in-out;
}

.slidein-container.show-popup {
  display: block;
}





  