

body.tolka {
    p {
        font-size: 1.5rem;      
        line-height: 1.5;
      }
}

.circle--container {
    position: relative;
    min-height: 800px;
    padding: 5rem;
    .circle--child {
        width: 12em;
        height: 12em;
        background-color: white;
        border-radius: 50%;
        opacity: 0; 
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }
}

.box div {
    margin-left: 30px;
    opacity: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 2.2px;
    @include media-breakpoint-up(md) {
        font-size: 5rem;
    }
}

.scrolling-text--container {
    overflow-x: hidden;
    .scrolling-text--wrapper {
        margin-top: 10rem;
        margin-bottom: 10rem;
        white-space: nowrap;
        > * {
            margin-top:0;
            margin-bottom: 2rem;
            display: flex;
            justify-content: center;
        }
       h2, p {
        font-size: clamp(8rem, 15vw, 16rem);
        line-height: 1;
        font-weight: 900;
       }
    }
}

.fire-text--container {
    h2 {
        margin-bottom: 20px;
        font-size: clamp(50px, 8vw, 80px);
        background-image: linear-gradient(#A0DDFF -200%, #758ECD -100%, #624CAB 0%);
        background-position: "100px 100px";
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0;
    }

}

.grow--container {
    background-color: $color--blue;
    position: absolute;
    bottom: 0;
    right: auto;
    bottom: 0;
    width: 100%;
    z-index: -1;
}
  
.arrows {
    position: relative;
    width: 75px;
    height: 75px;
    overflow: hidden;
  }
  .arrows svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }