/*	TYPOGRAPHY
-------------------------------------------- */

.text--heading-large {
  font-family: $font-heading;
  font-weight: bold;
	font-size: 36px;
  line-height: 40px;
  letter-spacing: -1.2px;
	@include media-breakpoint-up(md) {
		font-size: 50px;
		line-height: 62px;
	}
}

.text--heading{
  font-family: $font-heading;
  font-size: 35px;
  font-weight: bold;
  line-height: 1.33;
  letter-spacing: -1px;
	@include media-breakpoint-up(md) {
		font-size: 42px;
		line-height: 1.33;
	}
}

.text--heading-small{
  font-family: $font-heading-small;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: normal;
	@include media-breakpoint-up(md) {
		font-size: 22px;
	}
}

.text--body-quote{
  font-family: $font-heading;
  font-size: 21px;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: normal;
}

.text--body{
  font-family: $font-base;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: normal;
}

.text--body-small{
  font-family: $font-base;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
}

.text--footer-menu{
  font-family: $font-base;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: normal;
  text-align: center;
}

/* Headings */

h1, .h1 {
    font-size: 65px;
    line-height: 1;
    font-weight: 500;
    margin: 0 auto 2rem;
}

h2, .h2, h3, .h3 {

}

h4, .h4, h5, .h5, h6, .h6 {

}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 2rem;
  }
}

/* Lists */

ul, ol {

  > li {

  }
}

dl {

  > dt {

  }

  > dd {

  }
}

a {
  color: $primary;
}
a:hover{
	text-decoration: none;
}


//In inc/editor-styles.php //


/* Quotes */

blockquote {
  max-width: 720px;
  padding-left: 40px;
  font-family: $font-family-sans-serif;
  font-style: italic;
  color: $secondary;
}


/*	WORDPRESS: IMAGE CLASSES
-------------------------------------------- */

.text-center {
    text-align: center;;
}


.img-border {
  padding: 4px;
  border: 1px solid $secondary; // theme-color("light");
}

.alignleft {
	float: left;
  margin: 0 1rem 0.6rem 0;
}

.aligncenter {
  display: block;
  width: auto;
	margin: 0 auto;
}

.alignright {
	float: right;
	margin: 0 0 0.6rem 1rem;
}

img.attachment-thumbnail {
	max-width: none;
}

.wp-caption {
  position: relative;
  margin: 0 0 1rem 0;

  > img {

  }

  > .wp-caption-text {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: $font-size-base;
    padding: 0.5em 1em;
    background-color: rgba(black, 0.5);
    color: white;
  }
}



/*	IFRAMES
-------------------------------------------- */

iframe {
  // YouTube video player
}
